#traveledmap_trip_metabox {
  .mt-5 {
	margin-top: 5px;
  }

  .components-panel__row {
	flex-direction: column;
	margin-bottom: 10px;
	margin-top: 0;

	input:not([type='checkbox']) {
	  width: 99%;
	}

	&.flex-start {
	  align-items: flex-start;
	}
  }

  #traveledmap-check-trip-button {
	&:not(.is-loading) {
	  .not-loading {
		display: inline;
	  }

	  .loading {
		display: none;
	  }
	}

	&.is-loading {
	  .not-loading {
		display: none;
	  }

	  .loading {
		display: inline;
	  }
	}
  }

  #traveledmap-metabox-state {
	.tm-error-message {
	  color: #bd0000;
	}

	.tm-warning-message {
	  color: #ba880d;
	}

	.tm-success-message {
	  color: #3a881e;
	}

	display: none;

	&.error {
	  display: block;

	  .tm-error-message {
		display: block;
	  }

	  .tm-warning-message {
		display: none;
	  }

	  .tm-success-message {
		display: none;
	  }
	}

	&.warning {
	  display: block;

	  .tm-error-message {
		display: none;
	  }

	  .tm-warning-message {
		display: block;
	  }

	  .tm-success-message {
		display: none;
	  }
	}

	&.success {
	  display: block;

	  .tm-error-message {
		display: none;
	  }

	  .tm-warning-message {
		display: none;
	  }

	  .tm-success-message {
		display: block;
	  }
	}
  }
}

.traveledmap-is-hidden {
  display: none;
}

